{% extends 'base.html' %}
{% block content %}
<div class="offset-1 col-10 list-div"> 
  <h1>Lista de Produtos</h1>
  <a href="{% url 'create_produto' %}">
    <div class="add-div">
      <i class="fas fa-plus"></i> Adicionar Produto
    </div>
  </a>
  <div class="col-9 search-div">
    <form class="d-flex" method="GET" id="search-form">
      <input class="form-control" type="text" name="search" id="search" placeholder="Digite o nome do produto" value="{{ request.GET.search }}" >
      <button class="btn btn-light" type="submit" id="btn-search">
        <i class="fas fa-search"></i>
      </button>
    </form>
  </div>
    <table class="table table-light table-striped">
        <thead>
            <tr>
              <th scope="col">Nome</th>
              <th scope="col">Descrição</th>
              <th scope="col">Preço</th>
              <th scope="col">Estoque</th>
              <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
              <td> {{ produto.nome }} </td>
              <td> {{ produto.descricao }} </td>
              <td> {{produto.preco}} </td>
              <td> {{ produto.estoque }} </td>
              <td>
                <a href="{% url 'produto_update' produto.id%}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'produto_delete' produto.id %}"><i class="fas fa-trash"></i></a>
              </td>

            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if produtos.has_previous %}
          <a href="?page={{ produtos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        {% if produtos.paginator.num_pages %}
          <span class="current">
            {{ produtos.number }} de {{ produtos.paginator.num_pages }}
          </span>
        {% endif %}
        {% if produtos.has_next %}
          <a href="?page={{ produtos.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
        {% endif %}
      </span>
    </div>

</div>
{% endblock %}