{% extends 'base.html' %}
{% block content %}
<div class="offset-1 col-10 list-div"> 
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Lista de Vendas</h1>
    <h5 class="text-success">Faturamento Total: R$ {{ faturamento_total }}</h5>
  </div>
    <a href="{% url 'create_venda' %}">
      <div class="col-2 add-div">
        <i class="fas fa-plus"></i> Registrar Venda
      </div>
    </a>
    <div class="col-9 search-div">
      <form class="d-flex" method="GET" id="search-form">
        <input class="form-control" type="text" name="search" id="search" placeholder="Pesquisar pela data" value="{{ request.GET.search }}" >
        <button class="btn btn-light" type="submit" id="btn-search">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </div>
    <table class="table table-light table-striped">
        <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Valor da Compra</th>
              <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
              <td> {{ venda.data }} </td>
              <td> {{ venda.valor_total }} </td>  
              <td>
                <a class="btn btn-outline-dark" href="{% url 'detail_venda' venda.id %}">Ver Detalhes</a>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if vendas.has_previous %}
          <a href="?page={{ vendas.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        {% if vendas.paginator.num_pages %}
          <span class="current">
            {{ vendas.number }} de {{ vendas.paginator.num_pages }}
          </span>
        {% endif %}
        {% if vendas.has_next %}
          <a href="?page={{ vendas.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
        {% endif %}
      </span>
    </div>
</div>
{% endblock %}