{% extends 'base.html' %}
{% block content %}
<div style="text-align: center;" class="container">

    <h1>Lista de Vendas</h1>
    <h2>Faturamento Total: R$ {{ faturamento_total }}</h2>
    <a class="btn btn-success" href="{% url 'create_venda' %}" role="button">Registrar nova venda</a>
    <form class="d-flex" method="get" id="search-form">
      <input class="form-control" type="text" id="search" name="search" placeholder="Pesquisar pelo produto" value="{{request.GET.search}}">
      <button type="submit" id="btn-search" class="btn btn-outline-dark">
        <i class="fas fa-search"></i>
      </button>
    </form>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">Data</th>
              <th scope="col">Valor da Compra</th>
              <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for venda in vendas %}
            <tr>
              <td> {{ venda.data }} </td>
              <td> {{ venda.valor_total }} </td>  
              <td>
                <a class="btn btn-outline-light" href="{% url 'detail_venda' venda.id %}">Ver Detalhes</a>
              </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
      <span class="step-links">
        {% if vendas.has_previous %}
          <a href="?page={{ produtos.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
        {% endif %}
        {% if vendas.paginator.num_pages %}
          <span class="current">
            {{ vendas.number }} de {{ vendas.paginator.num_pages }}
          </span>
        {% endif %}
        {% if vendas.has_next %}
          <a href="?page={{ vendas.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
        {% endif %}
      </span>
    </div>
</div>
{% endblock %}