/* Pagination */
.pagination{
    margin-bottom: 20px;
    text-align: center;
}
.step-links {
    text-decoration: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}


/* Search */



#search-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-left: 10px;
}

/* RemoveForm */
input[type=checkbox][name$="-DELETE"], 
input[type=checkbox][name$="-DELETE"] + label {
  display: none !important;
}
/* RemoveForm label */
label[for$="-DELETE"] {
  display: none !important;
}