/* Title */
.block-title {
    text-align: center;
    margin: 20px;
    font-size: 30px;
}

.container-fluid {
  padding: 0;
}

/* Navbar */
.navbar{
  border-bottom: 1px solid #333;
  margin-bottom: 20px;
}

.navbar-brand{
  font-weight: bold;
}

.navbar-light .navbar-nav a.nav-link {
    color: #333;
    letter-spacing: 1px;
}

/* Botão de Adicionar */

.add-div{
  background-color: #3476e2;
  cursor: pointer;
  display: inline-block;
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin-right: 25px;
  width: 170px;
}

.fas-fa-plus{
  color: white;
  margin-right: 10px;
  margin-left: 5px;

}

/* Busca */
.fas-fa-search{
  position: absolute;
  top: 12px;
  right: 26px;
}
.search-div{
  padding: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: inline-block;

}

/* Lista de Produtos */
.fas.fa-trash, .fas.fa-edit{
  cursor: pointer;
  margin: 5px;
  font-size: 20px;
}
.fas.fa-trash {
  color: #db1e47;
}
.fas.fa-edit {
  color: #13c43f;
}

td a {
  text-decoration: none;
  color: black;
}

.list-div{
  padding: 0;
}


/* Pagination */
.pagination{
    margin-bottom: 20px;
    text-align: center;
}
.step-links {
    text-decoration: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.step-links .current {
    margin-left: 5px;
    margin-right: 5px;
}


/* Search */



#search-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    margin-left: 10px;
}

/* RemoveForm */
input[type=checkbox][name$="-DELETE"], 
input[type=checkbox][name$="-DELETE"] + label {
  display: none !important;

}


/* RemoveForm label */
label[for$="-DELETE"] {
  display: none !important;

}

/* Login */

.auth-card{
  margin-bottom: 30px;
}